<div *ngIf="show">
  <ng-quill-tex [styles]="{height: '50px'}" (editorLoadFinished)="editorLoadFinished($event)" [modules]="quillConfig" (textChanged)="onTextChanged($event)" 
  (fileUploaded)="fileUploaded($event)" [customToolbarPosition]="'bottom'" [imageUrl]="quillImageUrl" [content]="editorContent" [isMobile]="true">
      <span class="ql-formats">
        <button type="button" class="ql-code-block"></button>
        <button type="button" class="ql-image"></button>
      </span>
  </ng-quill-tex>  
</div>